@{
    Layout = null;
}
@using NSP.Model
@model NSP.Model.UserInfo
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>首页</title>
    <script src="@Url.Content("~/Content/js/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery-easyui-1.4/jquery.easyui.min.js")" type="text/javascript"></script>

    <script src="~/Content/js/jquery-easyui-1.4/locale/easyui-lang-zh_CN.js"></script>
    <link href="~/Content/js/jquery-easyui-1.4/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/js/jquery-easyui-1.4/themes/icon.css" rel="stylesheet" />
    <link href="/Content/css/main.css" rel="stylesheet" type="text/css" />

    <script src="/Content/js/Home/Index.js"></script>

    <script type="text/javascript">

       $(function () {

            //添加菜单样式
            $(".easyui-accordion").find('a').hover(function () {
                $(this).parent().addClass("hover");
            }, function () {
                $(this).parent().removeClass("hover");
            });

            //打开默认首页
            addTab("我的主页", "/Home/Login", "icon icon-main", false);

            tabClose();
            tabCloseEven();
        });

        //按钮点击事件
        function OnMenuClick(title, url) {
            addTab(title, url, "icon icon-page", true);
        }

        //添加tabPage
        function addTab(subtitle, url, icon, close) {
            if (!$('#tabs').tabs('exists', subtitle)) {
                $('#tabs').tabs('add', {
                    title: subtitle,
                    content: createFrame(url),
                    icon: icon,
                    closable: close
                });
            } else {
                $('#tabs').tabs('select', subtitle);
            }
            tabClose();
        }

        function createFrame(url) {
            var s = '<iframe scrolling="auto" frameborder="0"  src="' + url + '" style="width:100%;height:100%;"></iframe>';
            return s;
        }

        function tabClose() {
            var offsett = $("#bodyMain").offset().left; //body距离左边框距离
            /* 双击关闭TAB选项卡 */
            $(".tabs-inner").dblclick(function () {
                var subtitle = $(this).children(".tabs-closable").text();
                $('#tabs').tabs('close', subtitle);
            });
            /* 为选项卡绑定右键 */
            $(".tabs-inner").bind('contextmenu', function (e) {
                $('#mm').menu('show', {
                    left: e.pageX - offsett,
                    top: e.pageY
                });

                var subtitle = $(this).children(".tabs-closable").text();

                $('#mm').data("currtab", subtitle);
                $('#tabs').tabs('select', subtitle);
                return false;
            });
        }

        // 绑定右键菜单事件
        function tabCloseEven() {
            // 刷新
            $('#mm-tabupdate').click(function () {
                var currTab = $('#tabs').tabs('getSelected');
                var url = $(currTab.panel('options').content).attr('src');
                $('#tabs').tabs('update', {
                    tab: currTab,
                    options: {
                        content: createFrame(url)
                    }
                });
            });
            // 关闭当前
            $('#mm-tabclose').click(function () {
                var currtab_title = $('#mm').data("currtab");
                $('#tabs').tabs('close', currtab_title);
            });
            // 全部关闭
            $('#mm-tabcloseall').click(function () {
                $('.tabs-inner span').each(function (i, n) {
                    var t = $(n).text();
                    $('#tabs').tabs('close', t);
                });
            });
            // 关闭除当前之外的TAB
            $('#mm-tabcloseother').click(function () {
                $('#mm-tabcloseright').click();
                $('#mm-tabcloseleft').click();
            });
            // 关闭当前右侧的TAB
            $('#mm-tabcloseright').click(function () {
                var nextall = $('.tabs-selected').nextAll();
                if (nextall.length == 0) {
                    // msgShow('系统提示','后边没有啦~~','error');
                    //alert('后边没有啦~~');
                    return false;
                }
                nextall.each(function (i, n) {
                    var t = $('a:eq(0) span', $(n)).text();
                    $('#tabs').tabs('close', t);
                });
                return false;
            });
            // 关闭当前左侧的TAB
            $('#mm-tabcloseleft').click(function () {
                var prevall = $('.tabs-selected').prevAll();
                if (prevall.length == 0) {
                    //alert('到头了，前边没有啦~~');
                    return false;
                }
                prevall.each(function (i, n) {
                    var t = $('a:eq(0) span', $(n)).text();
                    $('#tabs').tabs('close', t);
                });
                return false;
            });

            // 退出
            $("#mm-exit").click(function () {
                $('#mm').menu('hide');
            });
        }

    </script>

    <style type="text/css">
        #li {
            float: left;
            list-style-type: none;
        }

            #li a {
                color: #fff;
                padding: 0px 15px 0px 15px;
            }

                #li a.active {
                    color: yellow;
                }

        body {
            background: #D2E0F2;
        }

        a {
            color: Black;
            text-decoration: none;
        }

            a:hover {
                color: Red;
                text-decoration: underline;
            }

        .footer {
            text-align: center;
            color: #15428B;
            margin: 0px;
            padding: 0px;
            line-height: 23px;
            font-weight: bold;
        }

        .head a {
            color: White;
            text-decoration: underline;
        }

        .easyui-accordion ul {
            list-style-type: none;
            margin: 0px;
            padding: 2px;
        }

            .easyui-accordion ul li {
                padding: 0px;
            }

                .easyui-accordion ul li a {
                    line-height: 24px;
                }

                .easyui-accordion ul li div {
                    margin: 2px 0px;
                    padding-left: 10px;
                    padding-top: 2px;
                }

                    .easyui-accordion ul li div.hover {
                        border: 1px dashed #99BBE8;
                        background: #E0ECFF;
                        cursor: pointer;
                    }

                        .easyui-accordion ul li div.hover a {
                            color: #416AA3;
                        }

                    .easyui-accordion ul li div.selected {
                        border: 1px solid #99BBE8;
                        background: #E0ECFF;
                        cursor: default;
                    }

                        .easyui-accordion ul li div.selected a {
                            color: #416AA3;
                            font-weight: bold;
                        }

        .panel-header {
            height: 20px;
        }

        .panel-title {
            font-size: 13px;
            height: 20px;
            margin-top: 2px;
        }


        .topBtn {
            float: right;
        }

            .topBtn div {
                float: right;
                padding: 20px 30px 0px 0px;
            }

            .topBtn img {
                cursor: pointer;
                height: 25px;
            }

        .info {
            float: right;
        }

            .info div {
                float: right;
            }

            .info span {
                color: White;
            }
    </style>
</head>
<body id="bodyMain" class="easyui-layout" style="overflow-y: hidden; margin: 0 auto;width: 1300px;" scroll="no">
    <!-- 上部 -->
    <div data-options="region:'north'" style="overflow: hidden; height: 45px; background-color: #438eb9; ">
        <div class="pageHeader">
            <!-- Logo、系统名称和常用按钮 -->
            <span id="sCompanyName" class="pageHeader logo">   设备管理系统</span>

            <span class="logoutspan">

                @{
                    var user = ViewData["CurrentUser"] as UserInfo;

                    if (user != null)
                    {
                        <span class="welcome">您好， @user.RealName </span>
                        <input id="btneditpwd" class="btn btneditpwd" type="button" title="修改密码" />
                        <input id="btnchangeuser" class="btn btnchange" type="button" title="切换用户" />

                    }

                }
                <input id="btnlogout" class="btn btnlogout" type="button" title="退出" />

            </span>


        </div>
    </div>
    <!-- 左边 -->
    @{
        List<NSP.Model.ViewUserPower> userPowers = ViewBag.UserPowers as List<NSP.Model.ViewUserPower>;
        List<NSP.Model.ViewUserPower> firstPowers = userPowers.Where(m => m.ParentId == null).ToList();
    }

    @helper initMenu(List<NSP.Model.ViewUserPower> powers, List<NSP.Model.ViewUserPower> allPowers)
{
    <div class="easyui-accordion" fit="false" border="false" style="width: 100%;">
        @foreach (NSP.Model.ViewUserPower power in powers)
        {
            if (power.MenuType == "菜单")
            {

                <div title="@power.MenuName" data-options="iconCls:'icon icon-sys'" style="overflow:auto;padding:5px;">
                    @initMenu(allPowers.Where(m => m.ParentId == power.MenuId).ToList(), allPowers)
                </div>

            }
            else
            {
                <ul>
                    <li>
                        <div>
                            <a href="#" onclick="OnMenuClick('@power.MenuName','@power.MenuPath');"><span class="icon icon-nav">&nbsp;</span><span class="nav">@power.MenuName</span></a>
                        </div>
                    </li>
                </ul>
            }

        }
    </div>
}
    <div data-options="region:'west',split:true" title="工作台导航" style="width:180px;">
        @initMenu(firstPowers, userPowers)
    </div>
    <!-- 中间 -->
    <div data-options="region:'center'" style="background:#fafafa;overflow:hidden">
        <div id="tabs" class="easyui-tabs" data-options="fit:true,border:false">
        </div>
    </div>
    <!-- 下部 -->
    <div data-options="region:'south'" style="overflow:hidden;height:25px;">
        <div class="pageFooter">
        </div>
    </div>
    <div id="mm" class="easyui-menu" style="width: 150px;">
        <div id="mm-tabupdate">
            重新加载
        </div>
        <div class="menu-sep">
        </div>
        <div id="mm-tabclose">
            关闭标签页
        </div>
        <div id="mm-tabcloseall">
            关闭全部标签页
        </div>
        <div id="mm-tabcloseother">
            关闭其他标签页
        </div>
        <div class="menu-sep">
        </div>
        <div id="mm-tabcloseright">
            关闭右侧标签页
        </div>
        <div id="mm-tabcloseleft">
            关闭左侧标签页
        </div>
    </div>
</body>
</html>