<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/js/easyui135/jquery-1.11.2.min.js")
    @Scripts.Render("~/Content/js/easyui135/jquery.easyui.min.js")
    @Scripts.Render("~/Content/js/easyui-extend/jquery.easyui.extend.min.js")
    @Scripts.Render("~/bundles/js")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body class="easyui-layout" data-options="fit:true">
    <form id="form2">
        <div region="north" class="panel page-title" style="width: 100%; overflow:hidden">
            <div class="panel-header panel-header-noborder" style="width: 100%; margin-top: 5px;">
                <div class="panel-title">
                    <span class="xbpanel-title">
                        @ViewBag.Title
                    </span>
                </div>
            </div>
        </div>
        <div region="center" border="false" style="padding:12px 15px 0px 9px;">
            <div id="C068B8BC" class="easyui-layout" fit="true">
                <div region="center" border="false">
                    <div class="easyui-layout" data-options="fit:true">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <div region="south" border="false">
            <input type="hidden" id="curSearchParams" name="curSearchParams" />
            <input type="hidden" id="curCommSearchParams" name="curCommSearchParams" />
        </div>
    </form>
</body>
</html>